<%-include("partials/header.ejs")%>
<div class="row">
    <div class="col s12"><h3 class="center-align">URL Shortner</h3></div>
</div>
<div class="row">
    <form action="/shortUrls" method="POST" class="col s12">
       <div class="container">
        <div class="row">
            <div class="col s12 input-field">
                <label for="fullurl">Full URL</label>
                <input type="text" name="fullUrl" id="fullUrl" required>
            </div>
            <div class="col s12 input-field center-align">
                <button class="btn waves-effect waves-light" type="submit" name="action">Shrink
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
       </div>
    </form>
</div>
<div class="row">
    <div class="container">
        <table class="highlight responsive-table">
            <thead class="grey darken-4 white-text">
                <tr>
                    <th>Full Url</th>
                    <th>Short Url</th>
                    <th>Clicks</th>
                </tr>
            </thead>
            <tbody>
                <%for(var i=0;i<shortUrls.length;i++){%>
                    <tr>
                        <td>
                            <a href="<%=shortUrls[i].full%>"><%=shortUrls[i].full%></a>
                        </td>
                        <td>
                            <a href="/<%=shortUrls[i].short%>"><%=shortUrls[i].short%></a>
                        </td>
                        <td>
                            <%=shortUrls[i].clicks%>
                        </td>
                    </tr>
                <%}%>
            </tbody>
        </table>
    </div>
</div>
<%-include("partials/footer.ejs")%>